<div @onclick="OnClicked" class="@Class" style="width: fit-content; @Style">
    @ChildContent
</div>

@code {

    [CascadingParameter(Name = nameof(Dialog.DeactivateDialog))]
    public Func<Task>? DeactivateDialog { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private void OnClicked()
    {
        DeactivateDialog?.Invoke();
    }
}
